// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Kanit:400,900);
$brand-font: 'Open Sans', sans-serif;

body {
	background: #7E4F2F;
	font-family: 'Kanit', sans-serif;
	margin: 0;
	padding: 0;
	color: #340E0A;
}

main {
	width: 980px;
	height: 680px;
	margin: 0 auto;
	background: url(main-bg.jpg) #DD9561;
	background-repeat: no-repeat;
  border: 1px solid #67351a;
  -moz-box-shadow: 4px 5px 5px 5px #3A1708;
  -webkit-box-shadow: 4px 5px 5px 5px #3A1708;
  -webkit-border-bottom-right-radius: 15px;
}

h1, h2 {
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
}

h1 {
	text-align: center;
	padding: 120px 10px 0;
	font-size: 44pt;
}

h2 {
  text-indent: 100%;
	font-weight: 400;
	font-size: 28pt;
	background: url("coming-soon.png") 0 0 no-repeat;
	width: 375px;
}

footer {
	text-align: center;
	margin-top: 150px;
}

#brand-icons, h1, h2 {
	display: block;
	margin: 0 auto;
}